.red{
	background: rgb(255, 0, 0);
	bottom: 40px;
	right: 30px;
	z-index: 1;
}

.black{
	background: rgba(0, 0, 0, 0.8);
	bottom: 90px;
	right: 90px;
	z-index: 1;
}

.pink{
	background: pink;
	bottom: 140px;
	right: 60px;
}