#first{
	background: red;	
}

#second{
	background: red;	
}

#first, #second{
	display: inline-block;
	padding: 0;
	margin: 0;
	border: none;
	text-align: center;
	font-size: 50px;
	width: 45%;
	height: 150px;
	color: white;
}


@media print{
	#first{
		display:none;
	}
}
@media only screen and (max-width: 960px) and (min-width: 769px) {
	#first{
		background: green;
	}
}

@media only screen and (max-width: 768px){
	#first{
		background: yellow;
		
		height: 150px;
	}

	#first, #second{
		width: 100%;
	}
}

